.container
    .row
        .col-md-4
            h3 管理系统
        .col-md-8.text-right
            h5 admin
            a(href="/admin/login-out") 退出
    .row
        .page-header
            h4 #{title}